body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  z-index: 1; 
  color: white;
  text-align: center;
  padding: 20px;
  font-family: monospace;
  align-self: center;
  justify-self: center;
  align-content: center;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
  width: 100%;
  height: 100%;
}

.version-container {
  position: fixed;       
  bottom: 20px;           
  right: 20px;           
  background-color: rgba(0, 0, 0, 0.7);  
  color: white;     
  padding: 10px 15px;    
  font-size: 14px;        
  font-family:monospace; 
  border-radius: 5px;   
  z-index: 10;          
}


